.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
}

.modal h2 {
  margin-bottom: 15px;
}

.modal input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
}

.actions {
  display: flex;
  justify-content: space-between;
}
.updateBtn{
  background-color: rgb(38, 144, 210);
margin:0 10px;
}
.cancleBtn{
  background: #f64c4c;
  margin:0 10px;
}
.cancleBtn:hover{
  background: #c43636;
}