.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 25px;
}

.header h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.header p {
  font-size: 14px;
  color: #777;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
  overflow-x: auto;
}

.primaryBtn {
  background: #27ae60;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.primaryBtn:hover {
  background: #1e8449;
}
.table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(0,0,0,0.05);
}

.table th,
.table td {
  padding: 14px;
  text-align: left;
}

.table thead {
  background: #f1f5f9;
}

.table tr:not(:last-child) {
  border-bottom: 1px solid #e2e8f0;
}

.deleteBtn {
  background: #ef4444;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}
.deleteBtn:hover{
background-color: #e01818;
}