.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 8px;
  background-color: #0077ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #005bbb;
}

.error {
  color: red;
  margin-top: 10px;
}
.switchText {
  margin-top: 15px;
  text-align: center;
}

.link {
  color: #0077ff;
  cursor: pointer;
  font-weight: bold;
}
