.card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.image {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 12px;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.price {
  color: #2ecc71;
  font-weight: bold;
  margin-top: 8px;
}

.stock {
  font-weight: bold;
  margin-top: 8px;
}

.lowStockBadge {
  margin-left: 10px;
  padding: 4px 8px;
  background-color: #ff5356;
  color: white;
  border-radius: 6px;
  font-size: 12px;
  font-weight: bold;
}
.critical {
  background-color: #b30000;
}

.actions {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}



/* Modal Styling */
.modalBackdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px 25px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
  text-align: center;
}

.modalActions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

/* Edit form inputs inside modal */
.editBtn {
  background: #97cff4;
  border: none;
  color: white;
  padding: 6px 12px;
 margin: 10px 0px 10px 0px;
  font-size: 13px;
  border-radius: 6px;
  cursor: pointer;
}

.editBtn:hover {
  background: #2980b9;
}
.editForm input {
  display: block;
  width: 100%;
  padding: 6px 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.statusBadge {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 8px;
}

.deactivateBtn {
  background: #fa8237;
  border: none;
  color: white;
  padding: 6px 12px;
  margin: 10px 5px 10px 5px;
  font-size: 13px;
  border-radius: 6px;
  cursor: pointer;
}
.deactivateBtn:hover {
  background: #ec5d03;
}
.deleteBtn{
  background-color: #f74444;
 border: none;
  color: white;
  padding: 6px 12px;
  margin: 10px 0px 10px 0px;
  font-size: 13px;
  border-radius: 6px;
  cursor: pointer;
}
.deleteBtn:hover {
  background: #d72b2b;
}
.cancelBtn{
 background-color: #78c8ec; 
 margin-left: 10px;
}
.cancelBtn:hover{
 background-color: #1488be; 

}
.confirmBtn{
  margin-left: 10px;
  background-color: #ef5252;
}
.confirmBtn:hover{
  background-color: #b41d1d;
}
.active {
  background-color: #d4edda;
  color: #155724;
}

.inactive {
  background-color: #f8d7da;
  color: #721c24;
}



.activateBtn {
  background: #27ae60;
  border: none;
  color: white;
  padding: 6px 12px;
  margin: 10px 5px 10px 5px;
  font-size: 13px;
  border-radius: 6px;
  cursor: pointer;
}

.activateBtn:hover {
  background: #1e8449;
}