.container {
  display: flex;
  height: 100vh;
  background-color: #f4f6f9;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 20px 30px;
  overflow-y: auto;
}
.dark {
  background: #121212;
  color: white;
}

.dark .content {
  background: #1e1e1e;
}