.container {
  padding: 30px;
  background-color: #f4f6f9;
  min-height: 100vh;
}

/* ===== TOP SECTION ===== */
.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 25px;
}

.title {
  font-size: 28px;
  font-weight: 600;
}

/* ===== CONTROLS ===== */
.controls {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.search {
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  min-width: 200px;
}

.filter {
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: white;
}

.addBtn {
  background-color: #2b9d2f;
    width: 150px;
    margin-top: 10px;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  white-space: nowrap;
}

.addBtn:hover {
  background-color: #048623;
}

/* ===== STATS ===== */
.stats {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

.statCard {
  background: white;
  padding: 20px;
  border-radius: 12px;
  flex: 1;
  min-width: 200px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.statCard h3 {
  font-size: 14px;
  color: #777;
}

.statCard p {
  font-size: 22px;
  font-weight: bold;
  margin-top: 8px;
}

/* ===== GRID ===== */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .topSection {
    flex-direction: column;
    align-items: flex-start;
  }

  .controls {
    width: 100%;
  }

  .search {
    flex: 1;
    width: 100%;
  }

  .filter {
    flex: 1;
  }

  .addBtn {
    width: 150px;
    margin-top: 10px;
  }
}