.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

input,
select {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

button {
  width: 100%;
  padding: 8px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
}

.error {
  color: red;
}

.success {
  color: green;
}
.switchText {
  margin-top: 15px;
  text-align: center;
}

.link {
  color: #0077ff;
  cursor: pointer;
  font-weight: bold;
}

